@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent; // remove highlight flash when click on title
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

// reset default settings, font & color are inherited
a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

//  default background of input is white
input,
textarea {
    background: transparent;
}

input:-webkit-auto-fill,
input:-webkit-auto-fill:focus,
input:-webkit-auto-fill:active,
input:-webkit-auto-fill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

.icon {
    filter: var(--icon-color);
}

// Fix responsive on smaller devices
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.separate {
    margin: var(--margin) 0;
    height: 1px;
    background: var(--separate-color);
}
